<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Boolean Retrieval</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
      integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div
      class="
        d-flex
        flex-column
        min-vh-100
        justify-content-center
        align-items-center
      "
    >
      <h1>Boolean Retrieval</h1>
      <br />
      <div class="text-center container">
        <p>Masukkan query dengan term bebas dan operator AND, OR, NOT, (, )</p>
        <p>Misalkan "hewan AND manusia", "tidur AND (orang OR mandi)"</p>
      </div>
      <br />
      <form method="POST" action="{{ url_for('upload') }}">
        <div class="input-group mb-3">
          <input
            type="text"
            class="form-control"
            placeholder="Search here"
            aria-label="Search here"
            aria-describedby="basic-addon2"
            name="query"
          />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
